<body>
    <header>
        <div class="container">
            <div class="header-top row">
                <div class="header-logo col-3">
                    <a href="index.html"><img src="img/logo branco.png" alt="Game Mania" id="logo-header"></a>
                </div>
                <div class="header-search col-6">
                    <input type="text" value="buscar" id="header-search">
                </div>
                <div class="header-social-media col-3 ">
                    <a href=""><img src="img/insta.png" alt="Instragram"></a>
                    <a href=""><img src="img/fb.png" alt="Facebook"></a>
                    <a href=""><img src="img/twitter.png" alt="twitter"></a>
                </div>
            </div>

            <div class="header-top-mobile">
                <div class="header-search-mobile">
                    <a href="" id="barras" class="barras"><img src="img/menu.png" alt=""></a>
                    <input type="text" value="buscar" id="header-search">
                </div>
                <div class="logo-social">
                    <div class="header-logo">
                        <a href="index.html"><img src="img/logo branco.png" alt="Game Mania" id="logo-header"></a>
                    </div>
                    <div class="header-social-media">
                        <a href=""><img src="img/insta.png" alt="Instragram"></a>
                        <a href=""><img src="img/fb.png" alt="Facebook"></a>
                        <a href=""><img src="img/twitter.png" alt="twitter"></a>
                    </div>

                </div>


            </div>
            <div class="dash">



            </div>
            <div class="header-botton row">
                <nav id="menu" class="menu col-12">
                    <a href="">Quem somos</a>
                    <a href="">Produtos</a>
                    <a href="">Notícias</a>
                    <a href="login.html" id="user-icon">Login</a>
                </nav>

                <!-- trocar class de "menu" para "menu-ativo" -->
            </div>

        </div>
    </header>
    <!-- ------------------------ -->


    <div class="container">
        <div class="dash">

        </div>
        <!-- <div class="banner-slide">
            
            <div class="banner-img">
                <a href=""><img src="img/PS5.png" alt="Playstation 5">
                </a>
            </div>

            <div class="banner-caption">
                <h3>Playstation 5 <br> por apenas R$4.990,00</h3>
                <h5>ou 12x de 450,00</h5>
            </div>
        </div> -->

        <div id="carrosel" class="carrosel">
            <img src="img/Banner1.png" alt="">
            <img src="img/vr.png" alt="">
            <img src="img/Logo-branco.png" alt="">

        </div>
        <!-- fim do banner -->
        <section class="secao-promo">
            <div id="promo-card" class="promo-card">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>
            </div>
            <div class="promo-card">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>
            </div>
            <div class="promo-card">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>
            </div>
            <div class="promo-card">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>
            </div>
            <div class="promo-card promo-card-dsk">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>
            </div>
            <div class="promo-card promo-card-dsk">
                <a href=""><img src="img/vr.png" alt="promo 1"></a>
                <h3> Óculos de realidade virtual</h3> <br>
                <h4>de R$ 10.099,00<br>
                    por R$ 8.999,00</h4> <br>
                <h5>ou 12x de 799,90</h5>

            </div>
        </section>
        <section>
            <div class="secao-categorias">
                <div class="secao-categorias-titulo">
                    <h2>CATEGORIAS</h2>
                </div>
                <div class="secao-categorias-icones">
                    <div class="card-icon">
                        <a href=""><img src="img/fone-de-ouvido.png" alt="acessórios"></a>
                        <a href="" class="icon-title">Acessórios</a>
                    </div>
                    <div class="card-icon">
                        <a href=""><img src="img/icone-console.png" alt="acessórios"></a>
                        <a href="" class="icon-title">Consoles</a>
                    </div>
                    <div class="card-icon">
                        <a href=""><img src="img/monitorar-teclado-e-mouse 1.png" alt="acessórios"></a>
                        <a href="" class="icon-title">PC e Upgrades</a>
                    </div>
                    <div class="card-icon">
                        <a href=""><img src="img/icone-cadeira.png" alt="acessórios"></a>
                        <a href="" class="icon-title">Mobiliário</a>
                    </div>
                    <div class="card-icon">
                        <a href=""><img src="img/icone-boneco.png" alt="acessórios"></a>
                        <a href="" class="icon-title">Coleções</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="chamada"></section>
    </div>
</body>

<footer>
    <div class="container-footer container">
        <div class="footer-menu">
            <div class="footer-menu-lista">
                <h2 id="seta-produtos">Produtos<img class="menu-seta" src="img/Polygon 1.png" alt=""></h2>
                <div id="produtos-links" class="produtos-links">
                    <a href="">Teclados</a>
                    <a href="">Mouses</a>
                    <a href="">Caderias</a>
                    <a href="">Acessórios</a>
                </div>
            </div>
            <div class="footer-menu-lista">
                <h2 id="seta-noticias">Noticias<img class="menu-seta" src="img/Polygon 1.png" alt=""></h2>
                <div id="noticias-links" class="noticias-links">
                    <a href="">Campeonatos</a>
                    <a href="">Atualizações</a>
                    <a href="">Games</a>
                </div>
            </div>
            <div class="footer-menu-lista">
                <h2 id="seta-suporte">Suporte<img class="menu-seta" src="img/Polygon 1.png" alt=""></h2>
                <div id="sup-links" class="sup-links">
                    <a href="">FAQs</a>
                    <a href="">Frete</a>
                    <a href="">Pagamentos</a>
                    <a href="">Devoluções</a>
                    <a href="">Rastreie seu pedido</a>
                </div>
            </div>
        </div>
        <div class="footer-icons">
            <div class="footer-logo">
                <a href="index.html"><img src="img/logo-preto.png" alt=""></a>
            </div>
            <div class="footer-pagamentos">
                <a id="pag-seguro" href="index.html"><img src="img/pag-seguro.png" alt=""></a>
                <a id="pagamentos" href="index.html"><img src="img/pagamentos.png" alt=""></a>
            </div>
            <div class="siteprotegido">
                <a id="siteprotegido" href="index.html"><img src="img/site-protegido.png" alt=""></a>
            </div>
        </div>



    </div>
</footer>
<!-- ------------SCRIPT------------- -->
<script src="JS/jquery-3.6.0.js"></script>
<script src="JS/script.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"> -->